<section id="{{partId}}" class="tab {{tabs.biography.cssClass}} scrollable" data-tab="{{tabs.biography.id}}"
    data-group="{{tabs.biography.group}}">
    <div class="tab-biography container-card-with-border">
        {{#if editable}}
        <prose-mirror name="system.biography" button="true" editable="{{editable}}" toggled="false"
            value="{{system.biography}}">
            {{{biographyHTML}}}
        </prose-mirror>
        {{else}}
        {{{biographyHTML}}}
        {{/if}}
    </div>
</section>