<section class="tab {{tabs.notes.id}} {{tabs.notes.cssClass}} scrollable" id="notes"
    data-tab="{{tabs.notes.id}}" data-group="{{tabs.notes.group}}">
    <div class="tab-notes container-card-with-border">
        {{#if editable}}
        <prose-mirror name="system.notes" button="true" editable="{{editable}}" toggled="false"
            value="{{system.notes}}">
            {{{notesHTML}}}
        </prose-mirror>
        {{else}}
        {{{notesHTML}}}
        {{/if}}
    </div>
</section>